body
  background-image: url(/home/uncle_mo.png)
  background-repeat: no-repeat
  background-position: top center
  background-color: #f4ca20
  margin: 0
  font-family: sans-serif
#home
  position: relative
  width: 1000px
  margin: 0 auto
h1
  position: absolute
  top: 150px
  left: 220px
  background-image: url(/home/logo.png)
  background-repeat: no-repeat
  width: 297px
  height: 99px
  text-align: center
  text-indent: -9999px
  color: #ccc
p
  position: absolute
  top: 285px
  left: 280px
  margin: 0
  width: 297px
  color: #3a2b21
  font-size: 24px
