body
  background-color: #f4ca20
  font-family: sans-serif
h1
  margin: 30px 0
  width: 100%
  text-align: center
  color: #ccc
  font-size: 390px
p
  margin: 0
  width: 100%
  text-align: center
  color: #ccc
  font-size: 60px
